rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /decisions/{id} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == 'r6YUnQdYX6bJNkn6IvZ3j7zwPw12';
    }
  }
}
